---
title: Hi! I'm Alex
layout: layouts/home.njk
description: gonzal3x personal blog.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Welcome to my blog! I'm Alex, entrepreneur and CEO of @qoddiapps. I love animals, aviation and, of course, technology.  
</p>
<p>
On this blog I talk about cloud platform, serverless technologies, business and a lot of other things! I hope you'll like it.
</p>
<p>Check the About section to contact me!</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
<p>
  This website is based on
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>
